########################################################################
# Este arquivo define quais tipos de arquivo devem ser ignorados pelo  #
# git para que não sejam commitados                                    #
########################################################################

########################################################################
# Diretorio do VSCode                                                  #
########################################################################
.vscode

########################################################################
# Credenciais para acesso ao site e banco de dados                     #
########################################################################
credentials.php

########################################################################
# Arquivos gerados automaticamente pelo ESP32                          #
########################################################################
*.cfg
*.svd
*debug_custom.json



